.moving-letters {
  height: 100vh;
  background-color: rgb(163, 201, 163);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving-letters div {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  animation: move 5s linear infinite;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(300px, 300px);
  }
}
